<div id="page">
    <h1>About Open House</h1>
    <p>
        A (would-be) software house building upon <a
href="http://en.wikipedia.org/wiki/FOSS">FOSS</a>. The source code of this page
can be found on <a href="https://github.com/jreisinger/www.openhouse.sk">GitHub</a>.
    </p>
</div>
