<h1>All Blog Posts</h1>
<p>
Tags:
    <% FOR tag IN tags %>
        <a href="blog/<% tag %>"><% tag %></a><% IF loop.last %><% ELSE %>,<% END %>
    <% END %>
</p>
<ul>
    <% FOR entry IN entries %>
        <li><a href="blog/<% entry.url %>" title="<% entry.mtime_human %>"><% entry.title %></a></li>
    <% END %>
</ul>
<p>
Blog posts are stored on <a
    href="https://github.com/jreisinger/blog">GitHub</a>.
</p>
