<div id="page">
    <h1>Open House Blog</h1>
    <p>
    Tags:
        <% FOR tag IN tags %>
            <a href=blog/<% tag %>><% tag %></a>
        <% END %>
    </p>
    <ul>
        <% FOR entry IN entries %>
            <li><a href=<% entry.url %>><% entry.title %></a></li>
        <% END %>
    </ul>
    <p><a href=https://github.com/jreisinger/blog/tree/master/publish>All</a> blog entries on GitHub.</p>
</div>
