<h1>Jozef</h1>
<p>
I am interested in how computer systems work and how to use and manage them
effectively. More information about me can be found here:
</p>

<ul>
    <li><a href="http://sk.linkedin.com/in/jozefreisinger">LinkedIn profile</a> (you have to be logged in to see my photo :)</li>
    <li><a href="https://github.com/jreisinger">GitHub account</a> -- some of my scripts</li>
    <li><a href="http://perlmonks.org/?node_id=898593">PerlMonks account</a> and <a href="http://perlmonks.org/?node_id=6364;user=j0se">participation</a></li>
    <li><a href="/jozef/doneThis.html">What I have done</a> (experimental and personal :)</li>
</ul>
