<div id="page">
    <h1>Pete</h1>
    <p>
        I like to develop software, especially in Java and PHP, and work with
        people. More information:
    </p>

    <ul>
        <li><a href="http://uk.linkedin.com/pub/peter-reisinger/2b/399/75a">LinkedIn profile</a></li>
        <li><a href="https://github.com/pete911">Some of my code</a></li>
    </ul>
</div>
