<div id="page">
    <h1>Projects</h1>
        We try to create software that is somehow useful, so here is some:
    <p>
    <ul>
        <li><a href="https://github.com/open-house">OpenHouse projects</a> -- our joint code</li>
        <li><a href="http://repos.openhouse.sk">Package repositories</a> -- some packaged software</li>
        <li><a href="pete">Pete</a>'s <a href="https://github.com/pete911">code</a> -- mainly Java, Python, PHP</li>
        <li><a href="jozef">Jozef</a>'s <a href="https://github.com/jreisinger">code</a> -- mainly Perl, shell</li>
        <li><a href="http://files.openhouse.sk">Various files</a></li>
    </ul>
    </p>
</div>
