<div id="page">
    <h1>Public stuff</h1>
    <p>
    <ul>
      <li><a href="https://github.com/organizations/open-house">Code on GitHub</li>
      <li><a href="http://files.openhouse.sk">Various files</li>
    </ul>
    </p>
</div>
