<div id="page">
    <h1>Public stuff</h1>
    <p>
    <ul>
      <li><a href="https://github.com/pete911">Pete's code on GitHub</li>
      <li><a href="https://github.com/jreisinger">Jozef's code on GitHub</li>
      <li><a href="http://repos.openhouse.sk">Pakage repositories</a> - packaged software</li>
      <li><a href="http://files.openhouse.sk">Various files</li>
    </ul>
    </p>
</div>
