
body {
margin: 10;
margin-bottom: 25px;
padding: 10;
background-color: #fff;
background-repeat: no-repeat;
background-position: top left;

font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
font-size: 13px;
color: #333;
}

h1 {
padding-top: 0.5em;
font-size: 28px;
color: #000;
}

a  {color: #390}
a:hover {
background-color: #390;
color: white;
text-decoration: none;
}

/* Centering a page  */
#page {
background-color: #fff;
width: 768px;
margin-left: auto;
margin-right: auto;
}

#sidebar {
float: left;
width: 175px;
}

#footer {
padding-top: 2em;
font-family: Verdana;
font-size: 10px;
width: 768px;
margin-left: auto;
margin-right: auto;
}
